*.bak
*.dcu
*.ppu
*.o
*.obj
*.compiled
*.rsj
*/lib/
*/backup/
*/*/lib/
*/*/backup/
/lib/
/backup/
/examples/*/*
!/examples/*/*.lpr
!/examples/*/*.lpi
!/examples/media/testing.opus
*.key
*.crt
*.dbg
*.log
*.dll
*.exe
*.lps
*.sh
*.db
*.sqlite
*.json
*.gz
*.zip
*.7z
*.png
*.trc
